.login-main {
  background-color: var(--bg);
  font-family: 'Inter';
  color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(14px, 2.5vw, 16px);
}

.login-wrapper {
  display: flex;
}

.input-section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  width: 450px;
  max-width: 450px;

  /* 최대 너비 (이하) */
  @media screen and (max-width: 767px) {
    width: 370px;
    padding: 5px;
  }

  .login-logo {
    color: var(--text-primary);
    font-size: clamp(32px, 8vw, 50px);
    margin-bottom: 35px;
    letter-spacing: -3px;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .input-label {
    display: block;
    color: var(--text-primary);
    font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  }

  .input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: #2a2a2a;
    font-size: 16px;
  }
}

.form-options {
  width: 100%;
  padding-inline: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 0.5rem 1.5rem;
  color: var(--text);

  .remember-me {
    display: flex;
    align-items: center;
    gap: 8px;

    .chk-box {
      width: 16px;
      height: 16px;
      accent-color: var(--text-primary);
    }
  }

  .register-link {
    text-decoration: underline;

    &:hover {
      color: var(--text-primary);
    }
  }
}

.login-btn {
  width: 100%;
  color: var(--bg);
  background-color: var(--text-primary);
  padding-block: 0.4rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;

  &:active {
    scale: 0.97;
  }
}

.github-login-btn {
  width: 100%;
  background: #24292e;
  color: #f5f5f5;
  padding-block: 0.4rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 0.2s ease;
  box-sizing: border-box;

  &:active {
    scale: 0.97;
  }
}
