.write-contents-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.input-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  color: #858080;
}
input {
  width: 650px;
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 10px;
}

.button-box {
  display: flex;
  gap: 5px;
  margin: 0 10px;
  button {
    min-width: 119px;
    color: #9b0e17;
    background-color: #f5f5f5;
    border-radius: 10px 10px 0 0;
    border: 1px solid #c4c4c4;
    padding: 5px 28px;
    font-size: 16px;
    font-weight: bold;
  }
  .is-button-active {
    background-color: #9b0e17;
    color: white;
    border: none;
  }
}

textarea {
  width: 650px;
  height: 400px;
  resize: none;
  border: 2px solid #9b0e17;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.submit-button {
  width: 150px;
  padding: 7px 28px;
  font-size: 16px;
  font-weight: bold;
  background-color: #9b0e17;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
}

.preview {
  width: 650px;
  height: 400px;
  resize: none;
  border: 2px solid #9b0e17;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
